<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.wst.jsdt.chromium.debug.ui.LaunchType$StandaloneV8">
<booleanAttribute key="add_network_console" value="false"/>
<stringAttribute key="breakpoint_startup_sync_direction" value="MERGE"/>
<stringAttribute key="debug_host" value="localhost"/>
<intAttribute key="debug_port" value="9222"/>
<stringAttribute key="predefined_source_wrapperd_ids" value="94(org.eclipse.wst.jsdt.chromium.debug.core.model.HardcodedSourceWrapProvider$NodeJsStandardEntry)97(org.eclipse.wst.jsdt.chromium.debug.core.model.HardcodedSourceWrapProvider$NodeJsWithDefinedEntry)"/>
<stringAttribute key="source_lookup_mode" value="AUTO_DETECT"/>
</launchConfiguration>
